* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
.main-div{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.center_div{
    width: 15rem;
    height: 15rem;
    position: relative;

}
.rot{
    width: 15rem;
    height: 15rem;
    border-right: 0.3rem solid #ffffff;
    border-radius: 50%;
    animation: rot 2s linear infinite;
    position: absolute;
}
@keyframes rot  {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading-font{
    position: absolute;
    color: #ffffff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
}
